
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<div class=" row bg-light main-body m-2 ">
    <div class="col-md-2 mt-2 mb-2 ">
        <div class=" nav-title ">
            <h4>MY ACCOUNT</h4>
        </div>
        <div class="navingations">
            <ul>
                <li>
                    <div class="nav-btn btn"  >
                        <a href="{% url 'account' %}" class=" ">Personal Detailes</a>
                    </div>
                    
                    
                </li>
                <li >
                    <div class="nav-btn  btn" >
                        <a href="{% url 'profile_shipping' %}" class=" ">Shipping Addresses</a>
                    </div>
                    
                </li>
                <li>
                    <div class="nav-btn btn">
                        <a href="{% url 'profile_order' %}" class=" ">Order Detailes</a>
                    </div>
                    
                </li>
                <li>
                    <div class="nav-btn btn" id="current" >
                        <a href="{% url 'password-change-view' %}"  class=" ">Change Password</a>
                    </div>
                    
                </li>
            </ul>
        </div>
        
        <div class="nav-body">

        </div>
    </div>
    <div class="col-md-10 d-flex justify-content-center">
       <div class="content-body box-element  mt-5 mb-5 p-3">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-10">
                    {{form | crispy}}
                </div>
            </div>
        <button type="submit" class="btn btn-success">
            SUBMIT
        </button> 
        </form>
       </div>
    </div>
</div>
{% endblock content %}
